.scrollButtonUp::after,
.scrollButtonUp::before {
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 50%;
  border: solid 0.3rem rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  top: 20%;
  border-top: hidden;
  border-left: hidden;
  animation: scroll-up 1.5s ease-in-out infinite;
}

// .scrollButtonUp::after{
//     top: 40% !important;
//     animation-delay: 0.3s;
// }

@keyframes scroll-up {
  0% {
    opacity: 0;
    top: 80%;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 20%;
  }
}

@media screen and (min-width: 768px) {
  .scrollButtonUp::after,
  .scrollButtonUp::before {
    height: 0.2rem;
    width: 0.2rem;
    border: solid 0.2rem rgba(0, 0, 0, 0.1);
  }
}
